---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Offers from "../components/Offers.astro";
import Pricing from "../components/Pricing.astro";
import Contact from "../components/Contact.astro";
import FooterSquiggle from "../images/bg-footer-squiggle.svg";
---

<Layout title="Pre Launch">
  <main>
    <Header
      description="The 9-5 grind is so last century. We believe in living life on your own terms. Whether you’re looking to escape the rat race or set up a side hustle, we’ve got you covered."
    />
    <Offers />
    <Pricing />
    <Contact />
  </main>
  <img src={FooterSquiggle} />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 1110px;
  }
  img {
    position: relative;
    margin: 70px 0 80px 0;
    width: 100%;
    z-index: 1;
  }
</style>
