<section class="footer-section">
  <div>
    <h2>Get notified when we launch</h2>
    <form method="POST" action="/">
      <div>
        <input type="email" id="email" placeholder="Email Address" />
        <p id="result"></p>
      </div>

      <input type="submit" placeholder="Email Address" value="Get notified" />
    </form>
  </div>
</section>

<style>
  .footer-section {
    top: 220px;
    position: relative;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    z-index: 999;
  }
  h2 {
    color: var(--white);
    font-size: 2rem;
    padding-bottom: 35px;
  }
  form div input {
    width: 100%;
    background-color: var(--regal-blue);
    padding: 12px 10px 12px 15px;
    border-radius: 30px;
    font-family: inherit;
    font-weight: bold;
    margin-right: 110px;
    margin-left: 40px;
    color: var(--white);
  }
  form input:last-child {
    width: 30%;
    background-color: var(--celeste);
    font-weight: bold;
    padding: 12px 15px 12px 15px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 50px;
  }
  form input:last-child:hover {
    background-color: transparent;
    border: 3px solid var(--celeste);
    color: var(--white);
  }
  form {
    display: flex;
  }
  @media (max-width: 768px) {
    .footer-section {
      width: 100%;
      top: 180px;
    }
    form {
      display: flex;
      margin-inline: 60px;
    }
    form input:first-child {
      width: 80%;
    }
    form input:last-child {
      width: 50%;
    }
  }
  @media (max-width: 425px) {
    form {
      display: block;
      margin: 0;
    }
    form input:first-child {
      width: 100%;
      margin-bottom: 20px;
    }
    form input:last-child {
      width: 100%;
      margin: 0;
    }
    form div input {
      margin: 0;
    }
  }
</style>
